.progressBar{
    margin-left: 30em;
    margin-top: 10em;
    width: 20em;
    height: 20em;
}
.progressBarLabel{
    color: blue;
    font-weight:400;
    font-size: xx-large;
    margin-top: 2em;
    
}