.offcanvas-menu{
    width: 5em;
}

.offcanvas-body p:hover{
    cursor: pointer;
    transform: scale(.9);
}
/* .humbButn{
    margin-top: 2em;
    margin-left: 25em;
} */
.grad {
    color: white;
    background-image: linear-gradient(to right, black, rgba(255,0,0,1));
    
    /* background-color: red; 
    background-image: linear-gradient(red, yellow); */
  }